#include "common.xcconfig"
#include "common-ios.xcconfig"

ONLY_ACTIVE_ARCH = NO
ENABLE_TESTABILITY = NO
VALIDATE_PRODUCT = YES
COPY_PHASE_STRIP = NO
GCC_OPTIMIZATION_LEVEL = s
ENABLE_NS_ASSERTIONS = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) NDEBUG=1
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
MTL_ENABLE_DEBUG_INFO = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
