#include "common.xcconfig"
#include "common-macos.xcconfig"

ONLY_ACTIVE_ARCH = YES
GCC_OPTIMIZATION_LEVEL = 0
BITCODE_GENERATION_MODE = marker
ENABLE_NS_ASSERTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone
OTHER_SWIFT_FLAGS = -DDEBUG
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
APPLICATION_EXTENSION_API_ONLY = NO
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = NO
STRIP_INSTALLED_PRODUCT = NO
INFOPLIST_FILE = MusicNotationCoreMacTests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.woolsoft.MusicNotationCoreMacTests
PRODUCT_NAME = MusicNotationCoreMacTests
DEFINES_MODULE = NO
ENABLE_BITCODE = NO
CODE_SIGN_IDENTITY = -

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1
OTHER_SWIFT_FLAGS = -DDEBUG
